### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_path = "Resources/Game_Data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].value_counts())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

unique_item_count = len(purchase_data["Item Name"].value_counts())
average_price = purchase_data["Price"].mean()
number_of_purchases = len(purchase_data["Purchase ID"].value_counts())
total_revenue = purchase_data["Price"].sum()
df_1 = pd.DataFrame({
    "Number of Unique Items": [unique_item_count],
    "Average Price": [average_price],
    "Number of Purchases": [number_of_purchases],
    "Total Revenue": [total_revenue]
})

format_dict = {'Average Price': '${0:,.2f}', 'Total Revenue': '${0:,.2f}'}
df_1.style.format(format_dict)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
modified_data = purchase_data[["SN", "Gender", "Age"]]
modified_purchase_data = modified_data.drop_duplicates()

m_f_group = modified_purchase_data.groupby(["Gender"])
m_f_count = m_f_group["Gender"].count()

m_f_percent = m_f_count / total_players * 100

gender_df = pd.DataFrame({
    "Gender Count": m_f_count,
    "Gender Percentage": m_f_percent
})
gender_df

gender_format_dict = {'Gender Percentage': '{0:,.2f}%'}
gender_df.style.format(gender_format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_purchase_group = purchase_data.groupby(["Gender"])
gender_purchase_count = gender_purchase_group["Gender"].count()
average_purchase = gender_purchase_group["Price"].mean()
total_purchase = gender_purchase_group["Price"].sum()
average_purchase_pp = total_purchase / m_f_count
gender_purchase_df = pd.DataFrame({
    "Purchase Count": gender_purchase_count,
    "Average Purchase Price": average_purchase,
    "Total Purchase Value": total_purchase,
    "Avg Total Purchase per Person": average_purchase_pp
})

gender_purchase_format_dict = {'Average Purchase Price': '${0:,.2f}', 'Total Purchase Value': '${0:,.2f}', 
                               'Avg Total Purchase per Person': '${0:,.2f}'}
gender_purchase_df.style.format(gender_purchase_format_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [12]:
age_bins = [-1, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Total Count"] = pd.cut(modified_purchase_data["Age"], age_bins, labels=group_names)
age_count_group = purchase_data.groupby("Total Count")
age_count = age_count_group["Total Count"].count()
age_percentage = age_count / total_players *100
age_percentage

age_df =pd.DataFrame({
    "Total Count": age_count,
    "Percentage of Players": age_percentage
})

age_df.style.format({'Percentage of Players': '{0:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [15]:
purchase_data.drop(columns="Total Count")
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], age_bins, labels = group_names)
age_range_group = purchase_data.groupby(["Age Range"])
age_purchase_count = age_range_group["Age Range"].count()

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Age Range, dtype: int64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80